*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.brdr {
    border: 1px solid;
    padding: 3rem;
    background-color: rgb(131, 183, 239);
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navigation {
    display: flex;
    width: 100%;
    margin: 0;
    background: #fff;
    font-weight: bolder;
    font-size: 30px;
}

.navigation {
    flex: 1 1 0;
    list-style-type: none;
    background-color: rgb(131, 183, 239);
}

.navigation a {
    text-decoration: none;
    display: flex;
    padding: 1em;
    color: 000;
    flex-grow: 1;
}

.wrapper-content {
    width: 100%;
    display: flex;
    min-height: calc(100vh - 289px);
}

.right-sidebar,
.left-sidebar {
    width: 10%;
}

.left-sidebar {
    text-align: right;
    background-color: aqua;
    font-size: 20px;
    padding: 4.5rem;
}

.main-content {
    width: 80%;
    background-color: salmon;
    font-size: 20px;
}

.right-sidebar {
    text-align: left;
    background-color: aqua;
    font-size: 20px;
}

@media (max-width:768px) {
    .wrapper-content {
        flex-direction: column;
    }

    .main-content,
    .right-sidebar,
    .left-sidebar{
        width: 100%;
        text-align: left;
        padding: 3rem;
    }
}